# Logs
logs
*.log

# Editor & System
.vscode/*
.idea
.DS_Store
Thumbs.db

# Sensitive & Local Scripts
.env
gas.ps1
public/*.gpkg.
public/indonesia_50km_tiles.geojson

# Environments & Dependencies
node_modules/
dist/
__pycache__/
venv/
.venv/

# Geospatial Data (Large Files)
*.gpkg
*.sqlite
